<div ng-show="error" class="alert alert-danger" role="alert">
	<p><span class="glyphicon glyphicon-exclamation-sign"></span> <strong>{{error.status}}</strong> {{error.statusText}}</p>
</div>

<div ng-show="group">
<h1 class="page-header">{{ pageTitle }}</h1>
<form class="form-horizontal">
	<div class="form-group" ng-hide="group.$resolved">
		<label for="groupId" class="col-sm-2 control-label">ID</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="groupId" ng-model="group.id" />
		</div>
	</div>
	<div class="form-group">
		<label for="name" class="col-sm-2 control-label">Name</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="name" ng-model="group.name" />
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-primary" ng-click="save()">Ok</button>
			<a href="#/groups/{{group.id}}" class="btn btn-default">Cancel</a>
		</div>
	</div>
</form>

</div>