<div ng-show="error" class="alert alert-danger" role="alert">
	<p><span class="glyphicon glyphicon-exclamation-sign"></span> <strong>{{error.status}}</strong> {{error.statusText}}</p>
</div>

<div ng-hide="error">
	<h1 class="page-header">Teams</h1>
	<a href="#/groups/create" class="btn btn-default">Create</a>
	<table class="table">
		<thead>
			<th>ID</th><th>Name</th><th></th>
		</thead>
		<tbody>
			<tr ng-repeat="group in groups">
				<td><a href="#/groups/{{ group.id }}">{{ group.id }}</a></td><td>{{ group.name}}</td><td><a href="#/groups/{{group.id}}/edit" class="btn btn-default btn-xs">Edit</a></td>
			<tr>
		</tbody>
	</table>
</div>