<h1 class="page-header">Dashboard</h1>

<h2>Tasks</h2>
<table class="table">
	<thead>
		<th>Description</th><th>Creator</th><th>Project</th><th>Complete</th>
	</thead>
	<tbody>
		<tr ng-repeat="task in tasks">
			<td>{{ task.description }}</td><td>{{task.creatorId}}</td><td>{{task.projectId}}</td><td><span class="glyphicon {{task.isComplete ? 'glyphicon-check' : 'glyphicon-unchecked'}}"></span></td>
		<tr>
	</tbody>
</table>
</div>