<h1 class="page-header">Sign in</h1>
<form>
	<div class="form-group">
		<label for="inputUsername" class="sr-only">Username</label>
		<input type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus data-ng-model="credentials.username" />
	</div>
	<div class="form-group">
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" id="inputPassword" class="form-control" placeholder="Password" required data-ng-model="credentials.password" />
	</div>

	<div ng-show="error" class="alert alert-danger" role="alert">
		<p><span class="glyphicon glyphicon-exclamation-sign"></span> <strong>Sign in failed</strong></p>
		<p>Response from server was &quot;{{error.data.message}}&quot;</p>
	</div>
	<button class="btn btn-primary" type="submit" data-ng-disabled="form.$invalid" data-ng-click="login(credentials)">Sign in</button>
</form>
