<div ng-show="error" class="alert alert-danger" role="alert">
	<p><span class="glyphicon glyphicon-exclamation-sign"></span> <strong>{{error.status}}</strong> {{error.statusText}}</p>
</div>

<div ng-show="user">
<div class="pull-right">
	<img src="/api/avatars/{{ user.id }}" alt="{{user.givenName}}" class="img-rounded" />
</div>
<h1 class="page-header">{{ pageTitle }}</h1>
<form class="form-horizontal">
	<div class="form-group" ng-hide="user.$resolved">
		<label for="userId" class="col-sm-2 control-label">ID</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="userId" ng-model="user.id" />
		</div>
	</div>
	<div class="form-group">
		<label for="givenName" class="col-sm-2 control-label">Given name</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="givenName" ng-model="user.givenName" />
		</div>
	</div>
	<div class="form-group">
		<label for="familyName" class="col-sm-2 control-label">Family name</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="familyName" ng-model="user.familyName" />
		</div>
	</div>
	<div class="form-group">
		<label for="email" class="col-sm-2 control-label">Email</label>
		<div class="col-sm-10">
			<input type="email" class="form-control" id="email" ng-model="user.email" />
		</div>
	</div>
	<div class="form-group" ng-show="credentials">
		<label for="password" class="col-sm-2 control-label">Password</label>
		<div class="col-sm-10">
			<input type="password" class="form-control" id="password" ng-model="credentials.password" />
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-primary" ng-click="save()">Ok</button>
			<a href="#/users/{{user.id}}" class="btn btn-default">Cancel</a>
		</div>
	</div>
</form>

</div>