<div ng-show="error" class="alert alert-danger" role="alert">
	<p><span class="glyphicon glyphicon-exclamation-sign"></span> <strong>{{error.status}}</strong> {{error.statusText}}</p>
</div>

<div ng-hide="error">
	<h1 class="page-header">People</h1>
	<a href="#/users/create" class="btn btn-default">Create</a>
	<table class="table">
		<thead>
			<th>ID</th><th>Name</th><th>Email</th><th></th>
		</thead>
		<tbody>
			<tr ng-repeat="user in users">
				<td><a href="#/users/{{ user.id }}">{{ user.id }}</a></td><td>{{ user.givenName }} {{user.familyName}}</td><td>{{user.email}}</td><td><a href="#/users/{{user.id}}/edit" class="btn btn-default btn-xs">Edit</a></td>
			<tr>
		</tbody>
	</table>
</div>