<div ng-show="error" class="alert alert-danger" role="alert">
	<p><span class="glyphicon glyphicon-exclamation-sign"></span> <strong>{{error.status}}</strong> {{error.statusText}}</p>
</div>

<div ng-show="user">
<div class="pull-right">
	<img src="/api/avatars/{{ user.id }}" alt="{{user.givenName}}" class="img-rounded" />
</div>
<h1 class="page-header">{{ user.givenName }} {{user.familyName}}</h1>
<form>
	<div class="form-group">
		<label for="avatarFile">Image file</label>
		<input type="file" id="avatarFile" nv-file-select uploader="uploader" />
	</div>
        <ul>
            <li ng-repeat="item in uploader.queue">
                Name: <span ng-bind="item.file.name"></span><br/>
                <button ng-click="item.upload()">upload</button>
            </li>
        </ul>
</form>

<div ng-controller="UserRolesCtrl">
	<h3>Roles</h3>
	<ul>
		<li ng-repeat="role in roles">{{role.name}}</li>
	</ul>
</div>

<div ng-controller="UserGroupsCtrl">
	<h3>Groups</h3>
	<ul>
		<li ng-repeat="group in groups">{{group.name}}</li>
	</ul>
</div>

</div>