@(title: String)(head: Html)(content: Html)

<!DOCTYPE html>
<html lang="en" ng-app="dashboard">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

    <title>@title</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/dashboard.css")">
    @head
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" data-ng-controller="HeaderCtrl">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Dashboard</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        	<div data-ng-switch="!!user" data-ng-cloak>
        	<div data-ng-switch-when="true" data-ng-cloak>
        	  <ul class="nav navbar-nav navbar-right">
        	  <li class="dropdown">
        	  <a class="dropdown-toggle" role="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    			{{user.givenName}} {{user.familyName}}
    			<span class="caret"></span>
  			  </a>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
	            <li><a href="#/users/{{user.id}}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
			    <li class="disabled"><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
			    <li><a href="" data-ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Sign out</a></li>

			  </ul>
	          </li>
	          </ul>
	          </div>
	          <div data-ng-switch-when="false">
	          <ul class="nav navbar-nav navbar-right">
	            <li><a href="#/login"><span class="glyphicon glyphicon-log-in"></span> Sign in</a></li>
	          </ul>	          
	          </div>
			</div>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#/">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#/projects">Projects</a></li>
            <li><a href="#/users">People</a></li>
            <li><a href="#/groups">Teams</a></li>
          </ul>
        </div>
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          @content
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")"></script>
    <script src="@routes.Assets.versioned("lib/angularjs/angular.min.js")"></script>
    <script src="@routes.Assets.versioned("lib/angularjs/angular-resource.min.js")"></script>
    <script src="@routes.Assets.versioned("lib/angularjs/angular-route.min.js")"></script>
    <script src="@routes.Assets.versioned("lib/angularjs/angular-cookies.min.js")"></script>
    <script src="@routes.Assets.versioned("lib/nervgh-angular-file-upload/angular-file-upload.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/app.js")"></script>
  </body>
</html>
