@(projectId: String)

@main("Task tree") {
    <style>
      .node circle {
        fill: #fff;
        stroke: steelblue;
        stroke-width: 1.5px;
      }

      .node {
        font: 10px sans-serif;
      }

      .link {
        fill: none;
        stroke: #ccc;
        stroke-width: 1.5px;
      }
    </style>
    <script type="text/javascript" src="@routes.Assets.versioned("lib/d3js/d3.min.js")"></script>	
} {
    <script type="text/javascript">
      var tasksApiUrl = "/api/projects/@projectId/tasks"
    </script>
    <script type="text/javascript" src="@routes.Assets.versioned("javascripts/tasktree.js")"></script>
}