<div ng-show="error" class="alert alert-danger" role="alert">
	<p><span class="glyphicon glyphicon-exclamation-sign"></span> <strong>{{error.status}}</strong> {{error.statusText}}</p>
</div>

<div ng-show="project">
<h1 class="page-header">{{ pageTitle }}</h1>
<form class="form-horizontal">
	<div class="form-group" ng-hide="project.$resolved">
		<label for="projectId" class="col-sm-2 control-label">ID</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="projectId" ng-model="project.id" />
		</div>
	</div>
	<div class="form-group">
		<label for="name" class="col-sm-2 control-label">Name</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="name" ng-model="project.name" />
		</div>
	</div>
	<div class="form-group" ng-hide="project.$resolved">
		<label for="templateProjectId" class="col-sm-2 control-label">Template project</label>
		<div class="col-sm-10">
			<select id="templateProjectId" class="form-control" ng-model="project.templateProjectId"><option ng-repeat="template in templates" value="{{template.id}}">{{template.name}}</option></select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-primary" ng-click="save()">Ok</button>
			<a href="#/projects/{{project.id}}" class="btn btn-default">Cancel</a>
		</div>
	</div>
</form>

</div>