<div ng-show="error" class="alert alert-danger" role="alert">
	<p><span class="glyphicon glyphicon-exclamation-sign"></span> <strong>{{error.status}}</strong> {{error.statusText}}</p>
</div>

<div ng-hide="error">
	<h1 class="page-header">Projects</h1>
	<a href="#/projects/create" class="btn btn-default">Create</a>
	<table class="table">
		<thead>
			<th>ID</th><th>Name</th><th></th>
		</thead>
		<tbody>
			<tr ng-repeat="proj in projects">
				<td><a href="#/projects/{{ proj.id }}">{{ proj.id }}</a></td><td>{{ proj.name }}</td><td><a href="#/projects/{{proj.id}}/edit" class="btn btn-default btn-xs">Edit</a></td>
			<tr>
		</tbody>
	</table>
</div>