<div ng-show="error" class="alert alert-danger" role="alert">
	<p><span class="glyphicon glyphicon-exclamation-sign"></span> <strong>{{error.status}}</strong> {{error.statusText}}</p>
</div>

<div ng-show="task">
	<h1 class="page-header">{{ task.description }}</h1>
	<div class="row">
		<div class="col-sm-2">
			<label>Creator</label>
		</div>
		<div class="col-sm-10">
			<p>{{task.creatorId}}</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2">
			<label>Assignee</label>
		</div>
		<div class="col-sm-10">
			<p>{{task.assigneeId ? task.assigneeId : '-'}}</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-2">
			<label>Assigned team</label>
		</div>
		<div class="col-sm-10">
			<p>{{task.assignedGroupId ? task.assignedGroupId : '-'}}</p>
		</div>
	</div>
	<div class="row">
		<div class="alert alert-info" ng-repeat="comment in comments"><strong>{{comment.creatorId}}</strong>: {{comment.value}}</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<form class="form-inline">
				<input class="form-control" type="text" ng-model="comment.value" placeholder="Comment..." />
				<button type="submit" ng-click="postComment()" class="btn btn-primary">Post</button>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<a href="#/projects/{{task.projectId}}" class="btn btn-default"><span class="glyphicon glyphicon-arrow-left"></span> Back</a>
		</div>
	</div>
</div>