<div ng-show="error" class="alert alert-danger" role="alert">
	<p><span class="glyphicon glyphicon-exclamation-sign"></span> <strong>{{error.status}}</strong> {{error.statusText}}</p>
</div>

<div ng-show="project">
<h1 class="page-header">{{ project.name }}</h1>

<form class="form-inline">
	<div class="form-group">
		<label for="taskId">Task ID</label>
		<input type="text" class="form-control" id="taskId" ng-model="task.id" />
	</div>
	<div class="form-group">
		<label for="taskDescription">Task Description</label>
		<input type="text" class="form-control" id="taskDescription" ng-model="task.description" />
	</div>
	<button ng-click="createTask()" class="btn btn-primary" type="submit">Create task</button>
</form>

<table class="table">
	<thead>
		<th></th><th>Description</th><th>Creator</th><th>Assignee</th>
	</thead>
	<tbody>
		<tr ng-repeat="task in tasks">
			<td><span class="glyphicon {{task.isComplete ? 'glyphicon-check' : 'glyphicon-unchecked'}}" ng-click="toggle(task)"></span></td>
			<td><a href="#/projects/{{project.id}}/tasks/{{task.id}}">{{task.description}}</a></td>
			<td>{{task.creatorId}}</td>
			<td>{{task.assigneeId ? task.assigneeId : '-'}}</td>
		<tr>
	</tbody>
</table>
</div>